<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @url.url_id %>
</p>

<p>
  <strong>Random:</strong>
  <%= @url.random %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
